/* CSS for website */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../fonts/bebas/Roboto.ttf') format('ttf'); }
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('../fonts/bebas/BebasNeue-Regular.otf') format('opentype'); }

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue';
}

a {
    font-weight: bold;
}

a:hover, a:active, a:focus {
    color: #CC0000 !important;
}

.book .book-summary ul.summary li.active>a {
    color: #CC0000 !important;
}

.book .book-body .page-wrapper .page-inner section.normal a {
    color: #CC0000 !important;
}
